include html/global/head.html
title ALDI Employee View
include html/imports/bootstrapLinks.html
link(rel='stylesheet' href='/css/employee.css')
include html/navEmployee.html
script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous")

.container-fluid
    .row
        main.ms-sm-auto.px-md-5
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                h2 Your PTO
                button.btn.btn-outline-dark.disabled
                    .row.refresh
                        .col-3
                            b Refresh Dates
                        .col-4
                            | Vacation:
                            i
                                b &nbsp;10/22/22
                        .col-5
                            | Personal and Sick:
                            i
                                b &nbsp;01/01/23
            .container-fluid
                .row
                    .col-md-4
                        canvas#doughnutChart1.mt-1.mb-4.w-100(width='500' height='380')
                            script.

                    
                                var pChart = document.getElementById("doughnutChart1").getContext('2d');
                                    var pDoughnut = new Chart(pChart, {
                                        type: 'doughnut',
                                        data: {
                                            labels: ["Available", "Pending", "Consumed"],
                                            datasets: [{
                                                data: [#{balanceData.vbalance}, #{PendingPTORequest[0]}, #{consumedData[0]}],
                                                backgroundColor: ["#75B809", "#FA8214", "#C80000"],
                                                hoverBackgroundColor: ["#75B809", "#FA8214", "#C80000"]
                                            }]
                                        },
                                        options: {
                                            responsive: true
                                        }
                                    });
                                

                        p.text-center.fs-4 Vacation: #{balanceData.vbalance} Days Available
                    .col-md-4
                        canvas#doughnutChart2.mt-1.mb-4.w-100(width='500' height='380')
                        script.
                                
                                var pChart = document.getElementById("doughnutChart2").getContext('2d');
                                    var pDoughnut = new Chart(pChart, {
                                        type: 'doughnut',
                                        data: {
                                            labels: ["Available", "Pending", "Consumed"],
                                            datasets: [{
                                                data: [#{balanceData.pbalance}, #{PendingPTORequest[1]}, #{consumedData[1]}],
                                                backgroundColor: ["#75B809", "#FA8214", "#C80000"],
                                                hoverBackgroundColor: ["#75B809", "#FA8214", "#C80000"]
                                            }]
                                        },
                                        options: {
                                            responsive: true
                                        }
                                    });
                                
                        p.text-center.fs-4 Personal: #{balanceData.pbalance} Days Available
                    .col-md-4
                        canvas#doughnutChart3.mt-1.mb-4.w-100(width='500' height='380')
                        script.
                                
                                var pChart = document.getElementById("doughnutChart3").getContext('2d');
                                    var pDoughnut = new Chart(pChart, {
                                        type: 'doughnut',
                                        data: {
                                            labels: ["Available", "Pending", "Consumed"],
                                            datasets: [{
                                                data: [#{balanceData.sbalance}, #{PendingPTORequest[2]}, #{consumedData[2]}],
                                                backgroundColor: ["#75B809", "#FA8214", "#C80000"],
                                                hoverBackgroundColor: ["#75B809", "#FA8214", "#C80000"]
                                            }]
                                        },
                                        options: {
                                            responsive: true
                                        }
                                    });
                                
                        p.text-center.fs-4 Sick: #{balanceData.sbalance} Days Available

            .border-bottom.mb-3
                h2 Your Requests
            .table-responsive
                table.table.table-striped
                    thead
                        tr
                            th(scope='col') PTO Type
                            th(scope='col') Start Date
                            th(scope='col') End Date
                            th(scope='col') Request Status
                            th(scope='col') Last Modified
                            th(scope='col') Modified By
                            th(scope='col') Comments

                    tbody
                    each field in data
                        tr
                            td #{field.Pto_Name}
                            td #{field.dayReq}
                            td Fixing This
                            td #{field.NmeOfStat}
                            td #{field.datChanged}
                            td #{field.EmployeeChangedId}
                            td #{field.Comments}




        //-     //script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous")
        //-     //script(src="/script/charts/vacationDoughnut.js")
        //-    // script(src="/script/charts/personalDoughnut.js")
        //-    //script(src="/script/charts/sickDoughnut.js")
