include html/global/head.html
title PTO History
include html/imports/bootstrapLinks.html
include html/imports/awesomeLinks.html
link(rel='stylesheet' href='/css/history.css')
include html/navSupervisor.html
section.main
    .attendance-list
        h1 PTO Request History
        table.table
            thead
                tr
                    th Request ID
                    th Type
                    th Request Created
                    th Beginning Date
                    th End Date
                    th Status
                    th Date Modified
                    th Modified by
                    th Details
                    
            tbody
                each value,key in data
                    tr
                        //- td #{key.ptorequestID}
                        //- td #{key.Pto_Name}
                        //- td #{moment(key.submitdate).format('MM/DD/YYYY')}
                        //- td #{moment(key.dayReq).format('MM/DD/YYYY')}
                        //- td #{key.NmeOfStat}
                        //- td #{moment(key.dateChanged).format('MM/DD/YYYY')}
                        //- td #{key.EmployeeChangedId}
                        //- td #{key.Comments}
                        td #{data[key][7]}
                        td #{data[key][1]}


                        td #{moment(data[key][6]).format('MM/DD/YYYY')}
                        
                        td #{moment(data[key][0][0]).format('MM/DD/YYYY')}
                        td #{moment(data[key][0][data[key][0].length-1]).format('MM/DD/YYYY')}
                        
                        td #{data[key][2]}
                        td #{moment(data[key][3]).format('MM/DD/YYYY')}
                        
                        
                        td #{data[key][4]}
                        td #{data[key][5]}
