include html/global/head.html
title Request PTO
include html/imports/bootstrapLinks.html
include html/imports/calendarLinks.html
- let roleId = employee.role;
- if (roleId === 3)
    include html/navEmployee.html
- else
    include html/navSupervisor.html
link(rel='stylesheet' href='/css/style.css')
main.ms-sm-auto.px-md-4
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h2 Request PTO
        button.btn.btn-outline-dark.disabled
            .row
                b Hello Employee #{employee.user}
    .container
        .content
            form(action="/sendPtoRequest" method="post")
                
                .user-details
                    .input-box
                        span.details Name:
                        input(type='text' name="empName" readonly class="form-control-plaintext"  placeholder=User.fname+User.lname value=User.fname+User.lname)
                    .input-box
                        span.details Aldi ID
                        input(type='text' name="empID" readonly class="form-control-plaintext"  placeholder=User.empID value=User.empID)
                    .input-box
                        span.details Beginning Date
                        html
                            head
                            body
                                input#start(type='date', name="tripstart", value='2022-12-04', min='2022-12-01', max='2023-12-31')
                    .input-box
                        span.details End Date
                        html
                            head
                            body
                                input#start(type='date', name="tripend", value='2022-12-04', min='2022-12-01', max='2023-12-31')
                                

                    .input-box
                        span.details Description
                        input(type='text' name="Descript" placeholder='Enter your reason?' )
                    .input-box
                        span.details LeaderID
                        input(type='text' name="leaderID" readonly class="form-control-plaintext"  placeholder=User.leaderID value=User.leaderID)
                .pto-details
                    if User.sbalance !=0
                        input#dot-1(type='radio' name='ptoType' value=3)
                    if User.pbalance !=0
                        input#dot-2(type='radio' name='ptoType' value=2)
                    if User.vbalance !=0
                        input#dot-3(type='radio' name='ptoType' value=1)
                    span.pto-title PTO Type
                    .category
                        if User.sbalance !=0
                            label(for='dot-1' )
                                span.dot.one
                                span.pto Sick
                        if User.pbalance !=0
                            label(for='dot-2' )
                                span.dot.two
                                span.pto Personal
                        if User.vbalance !=0
                            label(for='dot-3')
                                span.dot.three
                                span.pto Vacation
                .button
                    input(type='submit' value='Request')

