include html/global/head.html
title ALDI Supervisor View
include html/imports/bootstrapLinks.html
include html/imports/awesomeLinks.html
link(rel='stylesheet' href='/css/team.css')
include html/navSupervisor.html
section.main
    .main-top
        h1 Team 
    .users
        div.scrolling-wrapper-flexbox
            each emp in Employees
                
                .card.card-block
            
                    img(src='img/AL_BLR_SQ_MC_RGB.png')
                    h4 #{emp.fname +emp.lname}
                    p ID: #{emp.empID}
            
                    .per
                        table
                            tr
                                td
                                    span #{emp.sbalance} days
                                td
                                    span #{emp.pbalance} days
                                td
                                    span #{emp.vbalance} days
                            tr
                                td Sick
                                td Personal
                                td Vacation 
                    p Refresh Date:#{moment(emp.hiredate).format('MM/DD')} 
                    br
                            
        
        
    section.attendance
        .attendance-list
            h1 Current Team PTO Requests
            table.table
                thead
                    tr
                        th Request ID
                        th Employee Id
                        th Employee name
                        th Start Date
                        th End Date
                        th Type
                        th Status
                        th Submit Time Stamp
                        th Comments
                        th
                        th
                        th
                tbody
                    each val,key in pendingRequests
                        tr
                            td #{key}
                            td #{pendingRequests[key][7]}  
                            td #{pendingRequests[key][8]+ pendingRequests[key][9]}
                            td #{moment(pendingRequests[key][0][0]).format('MM/DD/YYYY')}
                            td #{moment(pendingRequests[key][0][pendingRequests[key][0].length-1]).format('MM/DD/YYYY')}
                            td #{pendingRequests[key][1]}
                            td #{pendingRequests[key][2]}
                            td #{(pendingRequests[key][3])}
                            td #{pendingRequests[key][5]}
                            td
                                abutton Accept
                            td
                                dbutton Deny
                            td
                                bbutton Comment
